<% include ./partials/header.ejs %>

<!-- Default form register -->
<form class="Signup text-center border border-light p-5" action="/users/signup/" method="POST">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
<div class="col">
    <input id="add8" type="text" name="username" class="form-control" placeholder="UserName">
</div>
        <div class="col">
            <input id="add1" type="text" name="fistName" class="form-control" placeholder="First Name">
        </div>
        <div class="col">
            <input id="add2" type="text" name="middleName" class="form-control" placeholder="Middle Name">
        </div>
        <div class="col">

            <input id="add3" type="text" name="lastName" class="form-control" placeholder="Last Name">
        </div>
    </div>
    <div class="form-row mb-4">
        <div class="col">

            <input id="add4" type="text" name="emailID" class="form-control" placeholder="E-mail ID">
        </div>
        <div class="col">

            <input id="add5" type="text" name="mobileNumber" class="form-control" placeholder="Mobile Number">
        </div>

    </div>
    <div class="form-row mb-4">
        <div class="col">

            <input id="add6" type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="col">

            <input id="add7" type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
        </div>
    </div>
    <button class="btn btn-info my-4 btn-block submit" type="submit"><a>Signup</a></button>

</form>
<!-- Default form register -->



<% include ./partials/footer.ejs %>